@charset "utf-8";
/* CSS Document */

@media (max-width: 320px){
	
	.resscrol{
		height: 282px !important;
	}
	/*.slide_text{
		bottom:27px;
	}*/
	.slider{
		height:213px !important;
	}
}

@media (max-width: 360px){
	
	
}

@media (max-width: 480px){
	.galleryImg{
		height:280px;
	}
	.slide{
		height:240px;
	}
	.resDiv{
		display:none;
	}

}
	
	
@media (max-width: 640px){
	.rightcost{
		width:100%;
		margin-top:20px;
	}
	.leftArrow{
		display:none;
	}
	.search_locet{
		width:100%;
	}
	.inputfrom{
		width:87%;
	}
	.signoutLogin{
		top: 16px !important;
		width:inherit !important;
	}
	.login_Div li a {
		font-size:14px;
	}
	.sublogin_Div li{
		font-size:13px;
	}
	.sublogin_Div li a{
		font-size:13px;
	}
	.sublogin_Div li span{
		font-size:13px;
	}
	.res_wel{
		font-size:13px;
	}
	.slidText{
		padding:0 !important;
		width:100% !important;
	}
	.newpanelhead h4{
		font-weight:300 !important;
	}
	.hoverSub_menu li a{
		padding:0 0 0 10px;
		font-size:14px !important;
	}
}

@media (max-width: 768px){
	
/*---------------------------------header---------------------------------*/
	.navbrand{
		 display:none;
	}	
	.navbrand01{
		display:block;
	}
	.naviyasion01{
		display:none;
	}
	.naviyasion02{
		display:block;
	}
	.naviyasion{
		width:100%;
	}
	.naviyasion li{
		padding: 0px 0px 8px 0px;
	}
	.navbar-collapse{
		padding:0 !important;
	}
	.logInPanel{
		margin:10px 0 0 0;
	}
		.logInPanel p{
			margin:0;
		}
	.header_all{
		padding:10px 0;
		height:inherit !important;
		background-color:rgba(255, 255, 255, 0.9);
	}
	.desktop_menu{
		display:none;
	}
	.responcive_menu{
		display:block;
	}
		
/*---------------------------------footer---------------------------------*/
	
	.footerText ul{
		text-align:center !important;
	}
	.footerButton{
		text-align:center !important;
	}
	.requestInspection{
		float:inherit;
	}
	
/*---------------------------------index-----------------------------------*/
	
	.header_all{
		padding:0 15px;
	}
	.logopart{
		width:100%;
	}
	.logoLeft {
		margin: 0px auto;
		float:inherit;
		padding:10px 15px;
		height:inherit;
	}
	.logoright{
		float:inherit;
	}
	.logoright ul{
		margin-bottom:0;
	}
	.logoright ul li{
		padding:5px 0;
		text-align:center;
		font-size:13px;
	}
	.contact_icon2{
		margin: 2px 5px 0px 5px;
		width:12px;
	}
	.contact_icon{
		width:12px;
	}
	.allcommon_body{
		padding:75px 0 60px 0;
	}
	.left_login{
		padding:0 !important;
	}
	.responciv_padding{
		padding:0 !important;
	}
	.video_div{
		padding:15px 0 0 0;
	}
	.checkout_table{
		padding:0 !important;
		border:inherit !important;
	}
	.packegeDiv{
		width:100%;
	}
	.service_body2{
		padding:40px 15px !important;
	}
	.service_body h1 {
		font-size:24px;
	}
	.abDiv{
		border-right:inherit;
		padding:0 0 20px 0 !important;
		margin-bottom:15px;
		height:inherit !important;
	}
	.sub_packege{
		margin-bottom:15px;
	}
	.service1{
		padding:15px;
		position:inherit !important;
	}
	.expandService p {
		font-size: 16px;
		padding: 0 0 0 14px;
		font-weight:400;
	}
	.map_service{
		width:100%;
	}
	.location_seclect{
		height:auto;
	}
	.LeftNewmenu{
		width:inherit !important;
		position:relative;
	}
	.leftMenuIcon{
		position: inherit !important;
		/*top:0;
		right:0;
		z-index:999 !important;*/
	}
	.slidText{
		padding:0 !important;
	}
	.slide_text{
		padding:10px 0;
	}
	.slidText h2{
		font-size:15px;
	}
	.slidText p {
		font-size:15px;
	}
	.slider{
		height:240px;
		position:relative;
		margin-top:72px;
	}
	.navbarRes{
		display:block;
		padding:4px 0 0 0;
	}
	.resDiv{
		/*position: absolute !important;
		right: 5px ;
		top: 11px !important;*/
		width:112px !important;
		padding:15px 0 15px 0 !important;
	}
	.reedMore {
		padding: inherit !important;
		width: 100%;
	}
	.main_header{
		padding:0 0 15px 0;
		background-color: rgba(255, 255, 255, 0.95);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	}
	.scrol_body{
		display:none;
	}
	.allService{
		width:100% !important;
	}
	.res_menuSub{
		display:block;
	}
	.res_indiicon{
		padding:15px 20px;
		border-right:1px solid #e3e3e3;
		text-align:center;
		height: 80px !important;
		border-bottom:1px solid #e3e3e3;
	}
	.res_indiicon span{
		font-size:14px;
		display:block;
		padding:8px 0 0 0;
	}
		
/*-----------------about_us-------------------------*/

	.aboutDiv{
		padding:25px 0 0 0;
	}
	.our_team h1{
		font-size:20px !important;
	}
	.our_team h1 span{
		font-size: 14px;
		line-height: 20px;
	}
	.member{
		margin-bottom:15px;
	}
	.service_body h1 span{
		font-size: 14px;
		line-height: 20px;
		padding:8px 10px 0 10px;
	}
	.creerText{
		padding:0;
		margin-top:20px;
	}
	.career_Bg{
		margin-bottom:20px;
	}
	.resCity{
		border-bottom: 1px solid rgb(228, 228, 228);
		margin-bottom: 15px;
		padding:0 !important;
	}
	.find h2{
		padding:30px 0;
	}
	.searchDiv{
		padding:112px 5px;
	}
	.trems_condisation{
		padding:30px 0 0 0;
	}
	.resBlog{
		padding:0 !important;
	}
	.right_blog {
		padding: 0 !important;
	}
	.resLEFTmenu{
		display:block;
		position: absolute !important;
		top:-4px !important;
		right:-4px !important;
		width:100% !important;
		padding:0 !important;
	}
	.leftMenuIcon p span{
		display:none;
	}
	.leftMenuIcon p{
		background: #fff;
		padding: 15px 10px;
		border-radius: 100%;
		height: 40px;
		width: 40px;
		margin: 0px;
		float:right;
		box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
	}
	.menuIcon{
		width:100%;
	}
	.resscrol{
		overflow-y: scroll;
		height:416px;
	}
	.sideMenu{
		width:100%;
	}
	.close_menu {
		padding: 10px 0 0 40px;
	}
	.login_body {
		padding: 30px 0 0 0;
	}
	.login_body h3 {
		font-size:16px;
		text-align:center;
	}
	.signoutLogin{
		width:400px !important;
	}
	.proprietorship{
		padding: 55px 0 60px 0;
	}
	.proprietorship p{
		width:100%;
	}
	.playstore_icon{
		padding: 15px 0;
		height: 60px;
		position: absolute;
		width: 100%;
		bottom: 0;
		background:rgba(253, 203, 24, 1);
	}
	.apptext{
		padding:0 !important;
	}
	.Mobile_App {
		padding: 20px 0 0 0; 
	}
	.resimg_mobile{
		width:100%;
	}
	.fea_icon{
		width:60px !important; 
		height:60px !important;
	}
	.contact_body{
		padding:20px 0 0 0;
	}
	.mapinput{
		padding:0 !important;
		margin-bottom:10px;
	}
	.bulet_Text{
		width:100%;
	}
	.subApply{
		width:100%;
		padding:15px;
	}
	.formTable{
		margin-top:20px;
	}
	.formTable tr td{
		display:block;
	}
	.subApply2{
		width:100%;
		padding:15px;
	}
	.apply_popup{
		padding:0;
	}
}
